.container{
	width: 100%;
	position: relative;
}
.code-wrap{
	width: 100%;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	height:400px;
	margin-bottom:10px;
  position:relative;
}
.css-live-wrap{
	position:relative;
	width:50%;
	height:100%;
	float:left;
}
.star{
  position: absolute;
  top: 20px;
  right: 40px;
  width: 0;
  height: 0;
  display: block;
  border-left: 3.04px solid transparent;
  border-right: 3.24px solid transparent;
  border-bottom: 9px solid #E91E63;
  /*-webkit-filter: drop-shadow(0px 0px 1px #A09105); */
  cursor: pointer;
}
.star:before{
    content: "";
    position: absolute;
    top: 8.65px;
    left: -8.82px;
    width: 0;
    height: 0;
    color: #E91E63;
    display: block;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-bottom: 9.08px solid #E91E63;
    transform-origin: top center;
    transform: rotate(36deg);
}
.star:after{
    content: "";
    position: absolute;
    top: 8.65px;
    left: -15px;
    width: 0;
    height: 0;
    color: #E91E63;
    display: block;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-bottom: 9.08px solid #E91E63;
    transform-origin: top center;
    transform: rotate(-36deg);
}
.star:hover{
	transition:all 2s;
	transform:rotateY(180deg);
}

.code{
	width: 50%;
	height:100%;
	box-sizing: border-box;
	font-size:14px;
	background: #ffe;
	display: block;
  float: right;
  padding: 1em;
  font-family: Consolas, Monaco, monospace;
  white-space: pre;
  color:#333;
  text-shadow: 0 1px 1px white;
  overflow-y:scroll;
}
summary{
	position:absolute;
	cursor:default;
	left:0;
	color: #999;
  font-size: 14px;
  line-height:18px;
  margin: 20px 0 0 20px;
  border-left: 2px solid #FF9800;
  padding: 0 10px;
  text-shadow: 0 0.2px hsl(0,0%,85%);
  background: linear-gradient(#FF9800, #FF9800) no-repeat;
  background-size: 100% 1px;
  background-position: -400px bottom;
  transition:.5s;
}

summary:nth-child(2){
	margin-top:60px;
}

summary:nth-child(3){
  margin-top:100px;
}

summary:hover{
	background-position: -0em bottom;
}
.inline-element::after{
	content: "\A";
	white-space: pre;
}
