.container{
	width: 100%;
	position: relative;
}
.code-wrap{
	width: 100%;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	height:400px;
	margin-bottom:10px;
}
.css-live-wrap{
	position:relative;
	width:50%;
	height:100%;
	float:left;
}
.code{
	width: 50%;
	height:100%;
	box-sizing: border-box;
	font-size:14px;
	display: block;
  float: right;
  padding: 1em;
  background: #ffe;
  font-family: Consolas, Monaco, monospace;
  white-space: pre;
  color:#333;
  text-shadow: 0 1px 1px white;
  overflow-y:scroll;
}
summary{
	color: #999;
  font-size: 14px;
  margin: 20px 0 0 20px;
  border-left: 2px solid #03A9F4;
  padding-left: 10px;
  text-shadow: 0 1px 1px #eee;

}
