@charset "utf-8";

/*CSS reset*/
html {
	overflow-x: hidden;
	overflow-y: auto;
	color: #333;
	font-size: 62.5%;
	font-family: Microsoft Yahei,simsun,Tahoma,Helvetica,Arial,SimHei,sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote {
	margin: 0;
	padding: 0
}
fieldset, img {
	border: 0
}
address, caption, cite, code, dfn, em, th, var, optgroup {
	font-style: normal;
	font-weight: 400
}
del, ins {
	text-decoration: none
}
li {
	list-style: none
}
caption, th {
	text-align: left
}
q:before, q:after {
	content: ''
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
sup {
	vertical-align: baseline
}
sub {
	vertical-align: baseline
}
legend {
	color: #000
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}
input, button, textarea, select {
	outline:none;
	*font-size: 100%
}
textarea{resize:none}

a {
	outline: 0;
	text-decoration: none;
}
a:hover {
	outline: 0;
	text-decoration: none;
}
.clearfix, .cf {
	zoom: 1
}
.clearfix:after, .cf:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
* {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	outline:none;
}
